### PYTHON FUNDAMENTALS | BASE TYPES â–¸ TUPLES
___

A `tuple` as `list` is a sequence. Like `lists`, `tuples` contain elements of various types but is **immutable**: they cannot be modified https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences.

Why ? We will discuss it when we introduce the `dictionary` type and shared references.

### 1. Creating tuples

In [45]:
# To create an empty tuple
t = ()
t

()

In [27]:
type(t)

tuple

In [46]:
# To create a tupe with a single element
t = (4,)
print(t)

(4,)

In [31]:
type(t)

tuple

Notice the comma `(4,)` at the end. If you don't do so, you will end up with an integer (Python will just evaluate the expression within the parenthesis here an integer).

In [32]:
# If you don't specify the final comma
t = (4)
print(t)

4

In [33]:
type(t)

int

In [47]:
# But if you have several elements final comma is not required.
t = (4, 'spam', 4.5, True)
print(t)

(4, 'spam', 4.5, True)

In [35]:
# Actually you don't need parenthesis around tuples
t = 4,
print(t)

(4,)

In [36]:
type(t)

tuple

In [37]:
# The same for multiple elements
t = 4, 'spam', 4.3, True

In [38]:
t

(4, 'spam', 4.3, True)

We will see why this is interesting when we cover the notion of tuple unpacking.

### 2. Sequence functions inheritance

In [48]:
# Testing membership
4 in t

True

In [49]:
'x' in t

False

In [50]:
len(t)

4

...

### 3. Accessing elements and type conversions

In [51]:
# Accessing an element
t[0]

4

In [52]:
# If you try to change an element of the tuple you get an error
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [53]:
# Slicing
t[:2]

(4, 'spam')

In [54]:
# To convert a tuple in list
l = list(t)

In [55]:
l

[4, 'spam', 4.5, True]

In [56]:
l.append('x')

In [57]:
l

[4, 'spam', 4.5, True, 'x']

In [58]:
t = tuple(l)

In [59]:
t

(4, 'spam', 4.5, True, 'x')